[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
streamlit = "*"
psycopg2 = "*"
bokeh = "*"
plotly = "*"
pandas = "*"
numpy = "*"
requests = "*"
altair = "*"

[dev-packages]

[requires]
python_version = "3.9"
